<!DOCTYPE html>
<html>
  <head>
    <title>Demo project running on Nuage</title>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css">
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span2">
	  <!--Sidebar content-->
	</div>
	<div class="span10">	  
	  <h1>Demo project running on Nuage</h1>

	  <p>
	    This application is running on <a href="https://www.nuagehq.com/">Nuage</a> as a demo project.
	  </p>
	  
	  <p>
	    If you want to see the code of this app go to <a href="http://bitbucket.org/nuagehq/demo">the main repo</a> or the <a href="https://github.com/NuageHQ/demo">mirror</a>.
	  </p>
	  
	  <h2>Packages used</h2>

	  <section id="PIL">
	    <h3>PIL (pillow)</h3>
		 
	    <p>
	      You can install PIL (trhough pillow package that is virtualenv friendly) and use some nice effects on pictures, for now, we just going to show a litte example:
	    </p>
	    
	    <div class="row-fluid">
	      <div class="span3">
		<img src="/image.png" class="img-polaroid" >    
	      </div>
	      <div class="span7">
		<pre>from django.http import HttpResponse
from PIL import Image
from random import choice

def image(request):
    " Create a random image."

    # Image size.
    size = (200, 200)
    step = (10, 10)
    INK = "red", "blue", "green", "yellow"

    # Base image.
    image = Image.new("RGB", size)

    for x in range(0, size[0], step[0]):
        for y in range(0, size[1], step[1]):
            image.paste(Image.new("RGB", step, choice(INK)), (x, y))
           
    response = HttpResponse(mimetype="image/png")
    image.save(response, "PNG")
    
    return response</pre>
	      </div>
	    </div>
	  </section>
	  
	  <section id="Gevent">
	    <h3>Gevent</h3>

	    <p>
	      You can install use gevent adding the option <code>gevent=true</code> in the section worker.web in the <code>nuage.yaml</code> file, you also need to add greenlet as a requirement in the requirements.pip file.
	    </p>
	    
	    

	    <div class="row-fluid">
	      <div class="span3">
		<div class="well well-small">
		  <iframe src="/stream.html" id="stream"></iframe> 
		</div>
		<a href="javascript:document.getElementById('stream').src = document.getElementById('stream').src;" class="btn btn-primary">Reload</a>

	      </div>
	      <div class="span7">
		<pre>import gevent
import gevent.socket
from gevent.queue import Queue
from django.http import HttpResponse
from random import choice, random

def bg_task():
    " You can define some background task. "
    for i in range(1,10):
        print "background task", i
        gevent.sleep(2)

def long_task():
    for i in range(1,10):
        print i
        gevent.sleep()

def sleep_random_time(i, response_queue):
    " Sleep some random time."
    
    t = random() * 5
    gevent.sleep(t)
    response_queue.put("Task %d slept for %2.2fs." % (i, t))

def stream(request):
    """ An streamed content for django 1.4 """
    
    def iterator():

        # Single greenlet.
        t = gevent.spawn(long_task)
        t.join()

        yield "sleeping for 3 seconds...&lt;br&gt;"

        gevent.sleep(3)

        yield "done&lt;br&gt;"

        yield "getting some ips...&lt;br&gt;"

        urls = ['www.google.com', 'www.example.com', 'www.python.org', 'projects.unbit.it']
        jobs = [gevent.spawn(gevent.socket.gethostbyname, url) for url in urls]
        gevent.joinall(jobs, timeout=2)

        for j in jobs:
            yield "ip = %s&lt;br&gt;" % j.value

        # Define a queue to hold results.
        response_queue = Queue()

        # Spawn several tasks.
        tasks = [gevent.spawn(sleep_random_time, i, response_queue) for i in range(10)]
        for i in range(10):
            yield response_queue.get() + "&lt;br&gt;"

        gevent.spawn(bg_task)

        yield "done!&lt;br&gt;"

    # We need this to avoid caching in nginx which destroy the streming.
    response = HttpResponse(iterator())
    response['X-Accel-Buffering'] = 'no'

    return response</pre>
	      </div>
	    </div>

	  </section>

	  <section id="PyCrypto">
	    <h3>PyCrypto</h3>
	  </section>

	  <!--Body content-->
	</div>
      </div>
    </div>
      
  </body>
</html>
